# Ignore all environment config files
*.env
.env
/backend/.env
/backend/server/.env
/frontend/.env
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
REACT_APP_STRIPE_KEY=sk_live_your_stripe_key_here
REACT_APP_BACKEND_URL=https://your-backend-server.com/api
