/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Background image and title section */
.background-image {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    text-align: center;
}

.title-section {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.title {
    font-size: 42px;
    color: #FFD700; /* Metallic gold */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.logo {
    width: 150px;
    height: auto;
}

.presents {
    font-size: 24px;
    margin: 10px 0;
}

.event-title {
    font-size: 36px;
    color: #FFD700; /* Metallic gold */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Navigation styles */
nav {
    background-color: #333;
    z-index: 1000; /* Ensure the nav is above other elements */
    position: relative;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex
