/* styles/hero.css */
.hero {
    padding: 4rem 2rem;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
  }
  .hero-content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 1rem;
  }
  .hero-section {
    position: sticky;
    top: 70px; /* leave space for navbar */
    height: 100px;
    width: 100vw;
    background-color: black;
    color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 12px solid;
    border-image: linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red) 1;
    z-index: 999;
  }
  
  .hero-title {
    position: sticky;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }
  .hero-title-section {
    min-height: 120px; /* previously 240px? cut by 50% */
  }
  